 <?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
            <!-- Pravidlo pro statické soubory -->
                <rule name="Static Files" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/evidence_certifikatu/static/{R:1}" />
                </rule>
                <!-- Pravidlo pro všechny ostatní požadavky -->
                <rule name="Flask Reverse Proxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/evidence_certifikatu/{R:1}" />
                </rule>
                <rule name="Get Certificates API" stopProcessing="true">
                    <match url="^get-certificates/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/evidence_certifikatu/get-certificates/{R:1}" />
                </rule>
                rule name="Get Edit Form" stopProcessing="true">
                    <match url="^get-edit-form/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/evidence_certifikatu/get-edit-form/{R:1}" />
                </rule>
                <rule name="Get Detail Cert" stopProcessing="true">
                    <match url="^detail/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8080/evidence_certifikatu/detail/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>