{% extends "base.html" %}

{% block content %}
<div class="detail-container">
    <div class="header">
        <h1>Detail certifikátu</h1>
        <a href="{{ url_for('index') }}" class="button info">
            <i class="fas fa-arrow-left"></i>
            Zpět na přehled
        </a>
    </div>

    <div class="detail-card">
        <div class="detail-row">
            <label>Server:</label>
            <span>{{ certifikat.server }}</span>
        </div>
        <div class="detail-row">
            <label>Cesta:</label>
            <span>{{ certifikat.cesta }}</span>
        </div>
        <div class="detail-row">
            <label>Název certifikátu:</label>
            <span>{{ certifikat.nazev }}</span>
        </div>
        <div class="detail-row">
            <label>Datum expirace:</label>
            <span class="{{ certifikat|get_expiry_class }}">{{ certifikat.expirace.strftime('%d.%m.%Y') }}</span>
        </div>
        <div class="detail-row">
            <label>Poznámka:</label>
            <span>{{ certifikat.poznamka or 'Bez poznámky' }}</span>
        </div>
    </div>
</div>
{% endblock %} 