<div class="detail-content">
    <div class="detail-row">
        <label>Název serveru:</label>
        <span>{{ server.nazev }}</span>
    </div>
    <div class="detail-row">
        <label>Popis:</label>
        <span>{{ server.popis or 'Bez popisu' }}</span>
    </div>
    <div class="detail-row">
        <label>Počet certifikátů:</label>
        <span>{{ pocet_certifikatu }}</span>
    </div>
    <div class="detail-row">
        <label>Vytvořeno:</label>
        <span>{{ server.vytvoreno.strftime('%d.%m.%Y %H:%M:%S') }}</span>
    </div>
</div> 